.btn-outline-primary {
    border-color: #be22b1;
    color: #be22b1;
    cursor: pointer;
    font-size: 18px;
}

.btn-outline-primary:hover {
    background-color: #be22b1;
    border-color: #be22b1;
    color: white;
    font-weight: bold;
    width: 160px;
    font-size: 20px;
}